/* .list-group-item {
  background-color: black;
  text-align: center;
  /* color: white; */
/* }  */

.list-group-item .text-center .border-0 .bg-black .text-white:active {
  background-color: white;
}
